### Tuple 

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered, unchangeable and allow duplicates.

Tuples are written with round brackets.

In [1]:
school=("Ali Bagh",'LGC','City','F.G','Govt')

#### Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

#### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

#### Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [2]:
print(school)

('Ali Bagh', 'LGC', 'City', 'F.G', 'Govt')

In [7]:
# indexing
school[0]

'Ali Bagh'

In [8]:
school[1]

'LGC'

In [9]:
# length function
len(school)

5

In [10]:
# type function
type(school)

tuple

In [12]:
# slicing
school[0:3]

('Ali Bagh', 'LGC', 'City')

In [17]:
# access tuple elements
print(school[0:3])
print(school[1:4])
print(school[:3])
print(school[2:])
print(school[:])    
print(school[-1])
print(school[-2])
print(school[-3:-1])
print(school[-3:])
print(school[:-1])
print(school[:-2])

('Ali Bagh', 'LGC', 'City')
('LGC', 'City', 'F.G')
('Ali Bagh', 'LGC', 'City')
('City', 'F.G', 'Govt')
('Ali Bagh', 'LGC', 'City', 'F.G', 'Govt')
Govt
F.G
('City', 'F.G')
('City', 'F.G', 'Govt')
('Ali Bagh', 'LGC', 'City', 'F.G')
('Ali Bagh', 'LGC', 'City')

In [14]:
mix=("English","Urdu","Maths","Physics","Chemistry", 1,2,3,True)

In [16]:
# tuple constructor
mix1=tuple(("English","Urdu","Maths","Physics","Chemistry", 1,2,3,True))
print(mix1)

('English', 'Urdu', 'Maths', 'Physics', 'Chemistry', 1, 2, 3, True)

In [18]:
if 4 in mix:
    print("4 is present in the tuple")
else:
    print("4 is not present in the tuple")

4 is not present in the tuple

In [19]:
name =("Ali",)
print(type(name))

<class 'tuple'>

In [2]:
# change tuple values
# tuples are immutable
# so we cannot change the values of tuple
# but we can convert it to list and then change the values
# and convert it back to tuple
# Example
x=("English","Urdu","Maths","Physics","Chemistry", 1,2,3,True)
y=list(x)
y[1]="Computer"
x=tuple(y)
print(x)

('English', 'Computer', 'Maths', 'Physics', 'Chemistry', 1, 2, 3, True)

In [3]:
x=("English","Urdu","Maths","Physics","Chemistry")
y=list(x)
type(x)
type(y)

list

In [3]:
# add items
x=("English","Urdu","Maths","Physics","Chemistry")
y=list(x)
y.append("Computer")
x=tuple(y)
print(x)

('English', 'Urdu', 'Maths', 'Physics', 'Chemistry', 'Computer')

In [4]:
#remove items
x=("English","Urdu","Maths","Physics","Chemistry")
y=list(x)
y.remove("Maths")
x=tuple(y)
print(x)

('English', 'Urdu', 'Physics', 'Chemistry')

In [5]:
# insert items
x=("English","Urdu","Maths","Physics","Chemistry")
y=list(x)
y.insert(2,"Computer")
x=tuple(y)
print(x)

('English', 'Urdu', 'Computer', 'Maths', 'Physics', 'Chemistry')

In [6]:
# add tuple to tuple
x=("English","Urdu","Maths","Physics","Chemistry")
y=("Computer","Biology")
z=x+y
print(z)

('English', 'Urdu', 'Maths', 'Physics', 'Chemistry', 'Computer', 'Biology')

In [7]:
print(type(z))

<class 'tuple'>

In [8]:
del x
print(x)

NameError: name 'x' is not defined

In [9]:
# unpacking tuple
x=("English","Urdu","Maths","Physics","Chemistry")
a,b,c,d,e=x
print(a)
print(b)
print(c)
print(d)
print(e)

English
Urdu
Maths
Physics
Chemistry

In [10]:
# loop through tuple
dish=("Biryani","Karahi","Nihari","Korma","Pulao")
for i in dish:
    print(i)

Biryani
Karahi
Nihari
Korma
Pulao

In [11]:
# Loop through tuple using index
dish=("Biryani","Karahi","Nihari","Korma","Pulao")
for i in range(len(dish)):
    print(dish[i])

Biryani
Karahi
Nihari
Korma
Pulao

In [13]:
range(len(dish))

range(0, 5)

In [ ]:
# multiply tuple
x=(1,2,3,4,5)
tuplle=x*2
print(tuplle)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
# tuple methods
# count() method
x=("English","Urdu","Maths","Physics","Chemistry")
print(x.count("English"))
print(x.count("Maths"))

1
1

In [16]:
tuplle.count(1)

2

In [17]:
# index() method
x=("English","Urdu","Maths","Physics","Chemistry")
print(x.index("English"))

0

In [19]:
tuplle.index(2)

1

In [2]:
dish=("Biryani","Karahi","Nihari","Korma","Pulao")
for i in range(len(dish)):
    print(i)

0
1
2
3
4

In [3]:
for i in range(len(dish)):
    print(dish[i])

Biryani
Karahi
Nihari
Korma
Pulao

In [4]:
tup=("English","Urdu","Maths","Physics","Chemistry")
for i in tup:
    print(i)

English
Urdu
Maths
Physics
Chemistry

In [6]:
range(len(tup))

range(0, 5)

In [7]:
for i in range(len(tup)):
    print(tup[i])

English
Urdu
Maths
Physics
Chemistry