### Set 
Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

Set items are unchangeable, but you can remove items and add new items.

In [1]:
# set is created with curly brackets
set={1,3,4,5}

### Unordered 
unordered means that the items in a set dont have a defined order

### Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

#### Duplicates Not Allowed

In [2]:
s1={1,2,3,True}
print(s1)

{1, 2, 3}

In [1]:
s11={1,2,3,3,4,4,5}
s11

{1, 2, 3, 4, 5}

In [3]:
s2={0,1,2,False}
print(s2)

{0, 1, 2}

In [4]:
# length of set
print(len(s1))
print(len(s2))

3
3

In [2]:
type(s11)

set

In [5]:
# set with mixed data types
s3={1,2,3,4.5,"hello",True}
print(s3)

{1, 2, 3, 4.5, 'hello'}

In [6]:
# type of set
print(type(s1))
print(type(s2))
print(type(s3))

<class 'set'>
<class 'set'>
<class 'set'>

In [10]:
# Accessing set elements
# set is unordered collection
# print(s1[0]) # throws error
# set does not support indexing
# set does not support slicing
# set does not support concatenation
# set does not support repetition

In [12]:
for x in s3:
    print(x)

1
2
3
4.5
hello

In [13]:
print("hello" in s3) # check if element is present in set

True

In [14]:
print(1 in s3) # check if element is present in set

True

In [15]:
print(1 not in s3) # check if element is not present in set

False

In [16]:
# Change items
# once a set is created, you cannot change its items, but you can add new items
s3.add(5) # add new item
print(s3)

{1, 2, 3, 4.5, 5, 'hello'}

In [3]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [4]:
s1.add(9)
print(s1)

{1, 2, 3, 4, 5, 9}

In [5]:
s1.update([10,11,12])
print(s1)

{1, 2, 3, 4, 5, 9, 10, 11, 12}

In [6]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [7]:
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [18]:
# to add items from another set into the current sset
s3.update(s2)
print(s3)

{0, 1, 2, 3, 4.5, 5, 'hello'}

In [8]:
s3.remove(12)
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [9]:
s3.pop()

1

In [21]:
s3.update([7,8,9])
print(s3)

{0, 1, 2, 3, 4.5, 5, 7, 'hello', 8, 9}

In [22]:
# remove items
s3.remove(1) # remove item
print(s3)
s3.discard(2) # remove item
print(s3)
s3.discard(10) # remove item
print(s3)

{0, 2, 3, 4.5, 5, 7, 'hello', 8, 9}
{0, 3, 4.5, 5, 7, 'hello', 8, 9}
{0, 3, 4.5, 5, 7, 'hello', 8, 9}

In [23]:
s3.discard('hello')
print(s3)

{0, 3, 4.5, 5, 7, 8, 9}

In [ ]:
s3.pop() # remove a random item
print(s3)

{3, 4.5, 5, 7, 8, 9}

In [25]:
s3.clear() # remove all items
print(s3)

set()

In [26]:
del s2 # delete the set
print(s2)

NameError: name 's2' is not defined

In [28]:
s3={} # create an empty set
print(s3)

{}

In [33]:
for i in s1:
    print(i)

1
2
3

#### Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [34]:
# union of two sets
s1={1,2,3}
s2={4,5,6}
s3=s1.union(s2) # union of two sets
print(s3)

{1, 2, 3, 4, 5, 6}

In [35]:
# use | to join two sets
s3=s1|s2 # union of two sets
print(s3)

{1, 2, 3, 4, 5, 6}

In [36]:
# join multiple sets
s1={1,2,3}
s2={4,5,6}
s3={7,8,9}
s4={10,11,12}
s5=s4.union(s1,s2,s3) # union of multiple sets
print(s5)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [37]:
s6=s1|s2|s3|s4 # union of multiple sets
print(s6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [38]:
s1={1,2,3,4}
s2={3,4,5,6}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

In [39]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6}

In [40]:
# intersection of two sets
s1={1,2,3,4}
s2={3,4,5,6}
s3=s1.intersection(s2) # intersection of two sets
print(s3)

{3, 4}

In [41]:
s4=s1&s2
print(s4)

{3, 4}

In [42]:
s1.intersection_update(s2) # intersection of two sets
print(s1)

{3, 4}

In [45]:
s1={1,2,3,4}
s2={3,4,5,6}
s1.intersection(s2)
print(s3)

{3, 4}

In [46]:
# difference of two sets
s1={1,2,3,4}
s2={3,4,5,6}
s3=s1.difference(s2) # difference of two sets
print(s3)

{1, 2}

In [47]:
# difference of two sets using -
s4=s1-s2
print(s4)

{1, 2}

In [48]:
# difference update
s1.difference_update(s2) # difference of two sets
print(s1)

{1, 2}

In [49]:
# symmetric difference of two sets  
s1={1,2,3,4}
s2={3,4,5,6}
s3=s1.symmetric_difference(s2) # symmetric difference of two sets
print(s3)

{1, 2, 5, 6}

In [50]:
# join two sets using ^
s4=s1^s2
print(s4)

{1, 2, 5, 6}

In [5]:
# Sets Methods 
s1={1,2,3,4}
s2={3,4,5,6}
s3={7,8,9}
s4={10,11,12}

In [6]:
s1.add(5) # add item
print(s1)

{1, 2, 3, 4, 5}

In [7]:
s1.remove(5) # remove item
print(s1)

{1, 2, 3, 4}

In [8]:
s1.update([6,7,8]) # add multiple items
print(s1)

{1, 2, 3, 4, 6, 7, 8}

In [12]:
s1.discard(6) # remove multiple items
s1.discard(7)
s1.discard(8)
print(s1)

{1, 2, 3, 4}

In [13]:
s1.pop() # remove a random item
print(s1)

{2, 3, 4}

In [14]:
s1.pop()
print(s1)

{3, 4}

In [15]:
s1.update([1,2])
print(s1)

{3, 4, 2, 1}

In [ ]:
s5=s1.copy() # copy the set
print(s5)

{1, 2, 3, 4}

In [18]:
s5.clear()
print(s5)

set()

In [19]:
s5=s1.difference(s2)
print(s5)

{1, 2}

In [20]:
print(s1)
print(s2)

{3, 4, 2, 1}
{3, 4, 5, 6}

In [23]:
s1.difference_update(s2)
print(s1)

{2, 1}

In [ ]:
print(s2)
import pandas as pd 
df=pd.read_excel()

{3, 4, 5, 6}

In [25]:
s2.difference_update(s1)
print(s2)

{3, 4, 5, 6}

In [26]:
print(s1)

{2, 1}