### List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
shopping=["dress","shoes","hat"]
print(shopping)

['dress', 'shoes', 'hat']

In [2]:
fruits=["apple","mango",'chery','mellon']
print(fruits)

['apple', 'mango', 'chery', 'mellon']

In [4]:
W=["watermelon","banana","orange",4,True,4]
print(W)

['watermelon', 'banana', 'orange', 4, True, 4]

In [5]:
W[0]="Apple"
print(W)

['Apple', 'banana', 'orange', 4, True, 4]

In [6]:
print(W[0])

Apple

In [7]:
W[0:2]

['Apple', 'banana']

In [10]:
W[0:]

['Apple', 'banana', 'orange', 4, True, 4]

#### List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

##### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

##### Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

##### Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [2]:
friends=['asim','faheem','shani','dani','faisal']

In [3]:
# list length
print(len(friends))

5

In [4]:
# List item data type
print(type(friends))

<class 'list'>

In [5]:
marks=[1,2,3,4]
print(len(marks))
print(type(marks))

4
<class 'list'>

In [6]:
quiz=[True,False,False,False]
print(type(quiz))
print(type(quiz))

<class 'list'>
<class 'list'>

In [7]:
list1=['ali',2,True, "Male" ]

In [11]:
R=list(("Ramez","Raja"))
print(R)
print(type(R))

['Ramez', 'Raja']
<class 'list'>

In [8]:
# list constructor
list2=list(('ali','zahid',80,True))

In [9]:
type(list2)

list

#### Access Items
List items are indexed and you can access them by referring to the index number:

In [11]:
class_baf=['A','B','C','D','E']

In [12]:
class_baf[0]

'A'

In [14]:
class_baf[0:3]

['A', 'B', 'C']

In [15]:
class_baf[-1]

'E'

In [16]:
class_baf[0:]

['A', 'B', 'C', 'D', 'E']

In [18]:
class_baf[:3]

['A', 'B', 'C']

In [19]:
if 'F' in class_baf:
    print('Yes farig log han class ma')
else:
    print('sab achay students han except @')

sab achay students han except @

In [20]:
# Change item values 
A=[3,4,5,6,7]
A[0]=8
print(A)

[8, 4, 5, 6, 7]

In [21]:
# change a range of items 
B=[2,4,6,8,10]
print(B)

[2, 4, 6, 8, 10]

In [22]:
B[1:3]=[9,11,13]
print(B)

[2, 9, 11, 13, 8, 10]

In [23]:
# insert 8 as third
B.insert(2,8)
print(B)

[2, 9, 8, 11, 13, 8, 10]

In [12]:
V=[1,2,3,4]
print(V)

[1, 2, 3, 4]

In [19]:
V.insert(4,9)
print(V)

[1, 2, 3, 4, 9]

In [21]:
V[1]=6
print(V)

[1, 6, 3, 4, 9]

In [24]:
# append items 
# append 12
B.append(12)
print(B)

[2, 9, 8, 11, 13, 8, 10, 12]

In [22]:
e=[2,4,6,8]
e.append(10)
print(e)

[2, 4, 6, 8, 10]

In [25]:
B.append(300)

In [26]:
print(B)

[2, 9, 8, 11, 13, 8, 10, 12, 300]

In [26]:
# Extend list
A1=[1,2,3,4,5]
A2=[6,7,8,9,0]
A1.extend(A2)
print(A1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [27]:
A2.extend(A1)
print(A2)

[6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [29]:
A2.append(5,6,7,8,9)
print(A2)

TypeError: list.append() takes exactly one argument (5 given)

In [28]:
print(A2)

[6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [29]:
A2.remove(5)
print(A2)

[6, 7, 8, 9, 0, 1, 2, 3, 4, 6, 7, 8, 9, 0]

In [23]:
e=["Ali","Babar","Moto"]
e.remove('Moto')
print(e)

['Ali', 'Babar']

In [30]:
# remove specific index 
A2.pop(3)
print(A2)

[6, 7, 8, 0, 1, 2, 3, 4, 6, 7, 8, 9, 0]

In [31]:
A2.pop()
print(A2)

[6, 7, 8, 0, 1, 2, 3, 4, 6, 7, 8, 9]

In [32]:
# remove first item
del A2[3]
print(A2)

[6, 7, 8, 1, 2, 3, 4, 6, 7, 8, 9]

In [33]:
# clear list
A2.clear()
print(A2)

[]

In [34]:
# you can loop through the list item 
C=[2,4,5,6,7,8]
for j in C:
    print(j)

2
4
5
6
7
8

In [35]:
for k in C:
    print(k+1)

3
5
6
7
8
9

In [36]:
for i in C:
    print(i+1)

3
5
6
7
8
9

In [44]:
d=[]
for i in C:
    d.append(i+1)
print(d)

[3, 5, 6, 7, 8, 9]

In [37]:
for i in C:
    print(i-1)

1
3
4
5
6
7

In [39]:
for i in C:
    print(i*2)

4
8
10
12
14
16

In [40]:
for i in C:
    print(i**2)

4
16
25
36
49
64

In [45]:
D=[]
for i in C:
    D.append(i**2)
print(D)

[4, 16, 25, 36, 49, 64]

In [47]:
for i in C:
    print(f'${i}')

$2
$4
$5
$6
$7
$8

In [49]:
E=[]
for i in C:
    E.append(f'${i}')
print(E)

['$2', '$4', '$5', '$6', '$7', '$8']

In [51]:
A= [1,2,3,4,2]
A.count(2)

2

In [55]:
B=[2,3,4,5,6]
B.count('Yes')

0

In [56]:
B.append(9)

In [57]:
B

[2, 3, 4, 5, 6, 9]

In [58]:
B.clear()
print(B)

[]

#### List methods

In [59]:
# Clear method
A=[1,2,3,4,5]
A.clear()
print(A)
# Copy method
A=[1,2,3,4,5]
B=A.copy()
print(B)
# append method
A=[1,2,3,4,5]
A.append(6)
print(A)
# extend method
A=[1,2,3,4,5]
B=[6,7,8,9]
A.extend(B)
print(A)
# insert method
A=[1,2,3,4,5]
A.insert(3,6)
print(A)
# pop method
A=[1,2,3,4,5]
A.pop(3)
print(A)
# remove method
A=[1,2,3,4,5]
A.remove(4)
print(A)
# sort method
A=[1,2,3,4,5]
A.sort()
print(A)
# reverse method
A=[1,2,3,4,5]
A.reverse()
print(A)

[]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 6, 4, 5]
[1, 2, 3, 5]
[1, 2, 3, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]