## **Execute python syntex**

- Python syntex can be easily executed in the command line

### 01. Basic Syntex

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print('Hello World!')

Hello World!

In [3]:
print('Hello Class!, How are you?')

Hello Class!, How are you?

### 02. Multiple values

In [2]:
print("My", "name", "is", "Muhammad", "Waseem")

My name is Muhammad Waseem

### 03. Using sep parameter

In [9]:
print("My", "name", "is", "Muhammad", "Waseem", sep=" ")

My name is Muhammad Waseem

In [11]:
print("my name is Muhammad Waseem", sep="..")

my name is Muhammad Waseem

### 04. Using end parameter

In [12]:
print('Ali')
print('Ahmed')

Ali
Ahmed

In [13]:
print('Ali', end=' ')
print('Ahmed')

Ali Ahmed

In [15]:
print("Ali", "Ahmed", sep=" ", end=" ")
print("is", "my", "name", sep=" ", end=".")

Ali Ahmed is my name.

## **Python Indentation**

- Indentation refers to spaces at the begininning of a code line

In [4]:
if 5>2:
    print('it is true that 5 is greater than 2')

it is true that 5 is greater than 2

In [5]:
if 3<5:
print('yes, 3 is less than 5')

IndentationError: expected an indented block after 'if' statement on line 1 (3409671941.py, line 2)

In [17]:
if 5>4:
    print('5 is greater than 4')
        print('5 is greater than 4')

IndentationError: unexpected indent (773874392.py, line 3)

## Python Comments 
. Comments can be used to explain Python code.

. Comments can be used to make the code more readable.

. Comments can be used to prevent execution when testing code.


Comments starts with a #, and Python will ignore them

In [18]:
# this is a comment
print('Hello, World!')

Hello, World!

In [19]:
print('Hello, World!') # this is a comment

Hello, World!

In [21]:
#print("Hello World!") # this is a comment
print("welcome to programming class")

welcome to programming class

### 01. Multiple Comments 
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [22]:
# this is a comment
# written in
# more than just one line
print("Hello, World!")

Hello, World!

## Python Variables 
- Variables are containers for storing data values.
- python has no command for declaring a variable. 
- A variabale is created the moment you first assign a value to it.

In [23]:
x=5
y="Moto"
print(x)
print(y)

5
Moto

In [24]:
x=4
x="Ali"
print(x)

Ali

### 01. Casting 
- if you want to specify the data type of a variable, this can be done with casting.

In [25]:
x=str(5) # x will be '5'
y=int(5) # y will be 5
z=float(5) # z will be 5.0

### 02. Type of variable
- you can get tge data type of a variable with the type() fumction.

In [26]:
print(type(x))

<class 'str'>

### 03. Case Sensitive 
- variable names are case-sensitive

In [27]:
a=4
A="Ali Ahmed" # A will not overwrite a
print(a)

4

### 04. Variable Names 
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [28]:
# Example
myname="Muhammad Waseem"
my_name="Muhammad Waseem"
_my_name="Muhammad Waseem"
myName="Muhammad Waseem"
MYNAME="Muhammad Waseem"
myname2="Muhammad Waseem"

In [29]:
# Illegal variable names
2myname="Muhammad Waseem"
my-name="Muhammad Waseem"
my name="Muhammad Waseem"

SyntaxError: invalid decimal literal (3902038684.py, line 2)

In [30]:
# camel case
myVariableName="Muhammad Waseem"
# pascal case
MyVariableName="Muhammad Waseem"
# snake case
my_variable_name="Muhammad Waseem"

### 05. Many Values to Multiple variables
-Python allows you to assign values to multiple variables in one line:

In [31]:
x,y,z="Ali","Kashif","Shahid"
print(x)
print(y)
print(z)

Ali
Kashif
Shahid

In [32]:
a,b,c=3,4,5
print(a)
print(b)
print(c)

3
4
5

### 06. One value to Multiple variables 
- you can assign the same value to multiple variables in one line:

In [33]:
a=b=c=6
print(a)
print(b)
print(c)

6
6
6

### 07. Unpack a Collection 
- If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [34]:
friends=["Ali", "Ahmed", "Kashif"]
a,b,c=friends
print(a)
print(b)
print(c)

Ali
Ahmed
Kashif

### 08. Output variables 
- The Python print() function is often used to output variables.

In [36]:
x="programming is boaring and difficult for management students"
print(x)

programming is boaring and difficult for management students

In [37]:
# In the print() function, you output multiple variables, separated by a comma:
x="programming is boaring and difficult for management students"
y="but it is necessary for future survival"
print(x,y)

programming is boaring and difficult for management students but it is necessary for future survival

In [38]:
x="programming is boaring and difficult for management students"
y="but it is necessary for future survival"
z="so, we have to learn it"
print(x,y,z)

programming is boaring and difficult for management students but it is necessary for future survival so, we have to learn it

In [39]:
# You can also use the + operator to output multiple variables:
x="programming is boaring and difficult for management students"
y="but it is necessary for future survival"
z="so, we have to learn it"
print(x+y+z)

programming is boaring and difficult for management studentsbut it is necessary for future survivalso, we have to learn it

In [40]:
x=5
y= "number"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
x=5
y=6
print(x+y)

11

In [43]:
x="ali"
y="ahmed"
print(x + y)

aliahmed

In [46]:
print(x + " " +y )

ali ahmed

In [50]:
# . Using f-strings (Recommended)
print(f'{x}{y}')

aliahmed

In [51]:
print(f'{x} {y}')

ali ahmed

In [52]:
#  Using .format() Method
print("{} {}".format(x, y))

ali ahmed

In [53]:
# Using Comma (,) in print()
print(x,y)

ali ahmed

## Python Data Types 
#### Buit-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [54]:
x="Ali"
print(type(x))

<class 'str'>

In [55]:
x=20
print(type(x))

<class 'int'>

In [56]:
x=19.99
print(type(x))

<class 'float'>

In [57]:
x=1j
print(type(x))

<class 'complex'>

In [58]:
x=["Ali", "Ahmed", "Kashif"]
print(type(x))

<class 'list'>

In [59]:
x=("Ali", "Ahmed", "Kashif")
print(type(x))

<class 'tuple'>

In [60]:
x=range(5)
print(x)
print(type(x))

range(0, 5)
<class 'range'>

In [61]:
x={"name" : "Ali", "age" : 20}
print(type(x))

<class 'dict'>

In [62]:
x=frozenset({"Ali", "Ahmed", "Kashif"})
print(type(x))

<class 'frozenset'>

In [63]:
x=True
print(type(x))

<class 'bool'>

In [64]:
x=b"Ali"
print(type(x))

<class 'bytes'>

### 01. Python Numbers

There are three numeric types in Python:

int

float

complex

Variables of numeric types are created when you assign a value to them:

In [65]:
age=43 # int
height=5.8 # float
z=1j # complex

In [66]:
# To verify the type of any object in Python, use the type() function:

print(type(age))
print(type(height))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Int**

-Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [67]:
x=32
y=3456737898787899
z=-234567
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [69]:
from tabulate import tabulate

# Define table data
data = [
    ["Function Call", 'print("Hello")'],
    ["Grouping in Math", "(2 + 3) * 4"],
    ["Empty Tuple", "my_tuple = ()"],
    ["Tuple Creation", "coordinates = (10, 20)"],
    ["Tuple Unpacking", "x, y = (5, 10)"],
    ["Lambda Functions", "lambda x, y: (x + y)"],
    ["Default Function Parameters", "def func(a, b=10): return a + b"],
    ["Generator Expressions", "(x*x for x in range(5))"]
]

# Generate table
table = tabulate(data, headers=["Usage", "Example"], tablefmt="grid")

# Print the table
print(table)

+-----------------------------+---------------------------------+
| Usage                       | Example                         |
+=============================+=================================+
| Function Call               | print("Hello")                  |
+-----------------------------+---------------------------------+
| Grouping in Math            | (2 + 3) * 4                     |
+-----------------------------+---------------------------------+
| Empty Tuple                 | my_tuple = ()                   |
+-----------------------------+---------------------------------+
| Tuple Creation              | coordinates = (10, 20)          |
+-----------------------------+---------------------------------+
| Tuple Unpacking             | x, y = (5, 10)                  |
+-----------------------------+---------------------------------+
| Lambda Functions            | lambda x, y: (x + y)            |
+-----------------------------+---------------------------------+
| Default Function Parameters | def func(a, b=10): return a + b |
+-----------------------------+---------------------------------+
| Generator Expressions       | (x*x for x in range(5))         |
+-----------------------------+---------------------------------+

In [70]:
from tabulate import tabulate

# Define table data
data = [
    [": (Colon)", "Defines blocks, loops, functions, dictionaries, slicing", "if condition:"],
    ["; (Semicolon)", "Allows multiple statements in one line (not recommended)", "x = 5; y = 10; print(x + y)"],
    [". (Dot)", "Accessing methods, attributes, importing modules, decimal numbers", '"text".upper(), math.sqrt(16)']
]

# Generate table
table = tabulate(data, headers=["Symbol", "Usage", "Example"], tablefmt="grid")

# Print the table
print(table)

+---------------+-------------------------------------------------------------------+-------------------------------+
| Symbol        | Usage                                                             | Example                       |
+===============+===================================================================+===============================+
| : (Colon)     | Defines blocks, loops, functions, dictionaries, slicing           | if condition:                 |
+---------------+-------------------------------------------------------------------+-------------------------------+
| ; (Semicolon) | Allows multiple statements in one line (not recommended)          | x = 5; y = 10; print(x + y)   |
+---------------+-------------------------------------------------------------------+-------------------------------+
| . (Dot)       | Accessing methods, attributes, importing modules, decimal numbers | "text".upper(), math.sqrt(16) |
+---------------+-------------------------------------------------------------------+-------------------------------+

In [71]:
"text".upper()

'TEXT'